<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}
.dev{
    color: #b1d4e0;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
}

footer img {
    width: 44px;
}
    </style>
</head>
<body>
    <!-- =============== 1.9 Contact Area End ====================-->
    <!-- =============== 1.9 Footer Area Start ====================-->
    <footer>
        <p>Developed using node and express by <span class="dev">Ashish Kumar & Aditya Raj</span>&nbsp;&nbsp; Copyright &copy; 2023  All Rights Reserved.</p>
    </footer>
</body>
</html>